@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --branco-principal:#ffffff;
    --cinza-secundario: #c0c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo:#00030c;
    --font-family:'Inter';
    --cor-efeito: #4583ce;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    animation-name: chegada;
    animation-duration: 3s;
    animation-delay: 1s;
    
}
.principal{
    background-image: url("../assents/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    
}
.container__botao:hover{
    background-color: var(--cor-efeito);
}
.container__caixa{
    margin: 2em 0 0 3em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: #ffffff;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
 
}
.botao_secundario{
    background: transparent;
    border: 2px solid var(--branco-principal);
    font-weight: 400;
    font-size: 12px;
    
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__img{
    margin: 1em 0 2em 0;
}
.secundario__img{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;

}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1;
}
.descricao__texto{
    color: var(--cinza-secundario);
}
.secundario_botao{
    margin-top: 1em;
    display: inline-block;
}
.container__descricao{
    padding: 2em;
}
.terciario{
    align-items: center;
    margin: 0 10em;

}

.dispositivo__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:69px;
    list-style-type: none;
    margin: 5em 0;

    

}
.dispositivos{
    text-align: center;
}
.dispositivo__titulo{
    font-size: 48px;
}
.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
.rodape{
    text-align: center;
    text-decoration: none;

}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;


}
.lista__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:69px;
    color: var(--branco-principal);
    margin: 5em 3em;
    text-decoration: none;



}
.rodape__lista a:link, a:visited{
    text-decoration: none;
    color: var(--cinza-secundario);
}
.rodape__lista a:hover{
    text-decoration: none;
    color: var(--cor-efeito);
}
.rodape__texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 2em 0;
}

@keyframes chegada{
    0% {
        transform: translateY(-100px);
        transform: scale(1);
    }
    100% {
        transform: translateY(0);
        transform: scale();
    }
}